/* default start */
.slide-control-default-left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 7vmax;
  height: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -50%, 0);
  color: var(--slide-control-color);
  background-color: var(--slide-control-background-color);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.slide-control-default-left:hover {
  color: var(--slide-control-color-high);
  background-color: var(--slide-control-background-color-high);
}

.slide-control-default-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 7vmax;
  height: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -50%, 0);
  color: var(--slide-control-color);
  background-color: var(--slide-control-background-color);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.slide-control-default-right:hover {
  color: var(--slide-control-color-high);
  background-color: var(--slide-control-background-color-high);
}

/* default end */

/* fade start */
.slide-fade-el-hover:hover .slide-control-fade-left,
.slide-fade-el-hover:hover .slide-control-fade-right {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
}

.slide-control-fade-left {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 7vmax;
  height: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
  transform: translate3d(-100%, -50%, 0);
  color: var(--slide-control-color);
  background-color: var(--slide-control-background-color);
  border-radius: 50%;
  cursor: pointer;
}

.slide-control-fade-left:hover {
  color: var(--slide-control-color-high);
  background-color: var(--slide-control-background-color-high);
}

.slide-control-fade-right {
  position: absolute;
  top: 50%;
  right: 3%;
  width: 7vmax;
  height: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
  transform: translate3d(100%, -50%, 0);
  color: var(--slide-control-color);
  background-color: var(--slide-control-background-color);
  border-radius: 50%;
  cursor: pointer;
}

.slide-control-fade-right:hover {
  color: var(--slide-control-color-high);
  background-color: var(--slide-control-background-color-high);
}

/* fade end */